/* основний колір текста  #757575; */
/* вторинний колір текста #212121; */
/* колір акцент #2196F3; */
/* білий #FFFFFF; */

/* основний колір фона #F5F5F5; */
/* вторинний колір фона #F5F4FA; */
/* колір фона футера #2F303A; */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent: #2196f3;
    --white-color: #ffffff;

    --primary-bcg-color: #f5f5f5;
    --secondary-bcg-color: #f5f4fa;
    --footer-bcg-color: #2f303a;
}

/* ==========================================BODY    */

body {
    
}